body {
    margin: 0;
    touch-action: none;
    overflow: hidden;
}

html {
    overflow: hidden;
}

#ui {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding-top: 70px;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hidden {
    opacity: 0;
    width: 1px;
    height: 1px;
    float: right;
}